header {
  background-color: #D45649;
}

h2 {
  color: red;
  text-align: center;
}

.d-grid {
  display: grid
}

.noto-serif {
  font-family: 'Noto Serif', serif;
}

.roboto {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.cantarell {
  font-family: 'Cantarell', sans-serif;
}


li {
  list-style: none;
}

.text-size-19 {
  font-size: 19px;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-18 {
  font-size: 18px;
}

.text-size-15 {
  font-size: 15px;
}

.text-size-12 {
  font-size: 12px;
}

.link-size-19 a {
  font-size: 19px;
}

.link-size-22 a {
  font-size: 22px;
}

.link-size-24 a {
  font-size: 24px;
}

.link-size-16 a {
  font-size: 16px;
}

.link-size-14 a {
  font-size: 14px;
}

.link-size-17 a {
  font-size: 17px;
}

.link-size-18 a {
  font-size: 18px;
}

.header-bar {
  height: 10vh;
}

.btn1 {
  color: #E27F66;
}

.btn2 {
  color: #98A4A5;
}

.search {
  background-image: url("../assets/houses.jpg");
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
}

.search-square {
  background-color: rgba(179, 179, 179, 0.5);
  border-radius: 10px;
  max-width: 800px;
  justify-self: center;
}

.search-btn {
  background-color: #D45649;
  border: none;
}

.hiw-button {
  border-radius: 4px;
}

.steps-grid {
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
  gap: 10px;
  column-gap: 100px;
}

.bar1 {
  grid-template-columns: 2fr 1fr;
  background-color: #E27F66;
}

.bar2 {
  grid-template-columns: 2fr 1fr;
  background-color: #98A4A5;
}

.bar3 {
  grid-template-columns: 2fr 1fr;
  background-color: #519CD8;
}

.round-image {
  border-radius: 50%;
  max-height: 300px;
}

.left-5 {
  margin-left: 5%;
}

.size-image {
  max-height: 300px;
}

.button-container {
  height: 70px;
}

footer {
  background-color: black;
}

.list-item {
  padding: 1vw 3vw;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
  cursor: pointer;
}

.list-item-special {
  font-size: 36px;
  margin: 2% 0;
  padding: 1%;
  border-radius: 50% 50%;
  border: 2px solid #444444;
  cursor: pointer;
}

.subscribe-input {
  background-color: #000;
  border: 2px solid #1C1C1C;
  width: 80%;
  color: #444444;
}

.subscribe-send {
  background-color: #444444;
  border: none;
  width: 30%;
}

.red-text {
  color: #C04C40;
}

.middle-footer {
  margin-right: 0;
}

.fb:hover {
  color: #3b5998;
}

.gg:hover {
  color: red;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram:hover {
  color: #405de6;
}





@media only screen and (max-width: 768px) {

  .d-md-grid {
    display: grid;
  }

  .search {
    height: 150vh;
  }

  .header-bar {
    padding: 1% 0;
  }

  .steps-grid {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .round-image {
    max-height: 33vw;
  }

  .size-image {
    max-height: 33vw;
  }

  .header-bar {
    height: 15vh;
  }

}

@media only screen and (max-width: 1024px) {
  
  .d-lg-grid {
    display: grid;
  }

  .list-item {
    padding: 1vw 3vw;
    border: none;
    cursor: pointer;
  }
}